/* STYLE SECTIONING TAGS */

*{
    margin: 0px;
    padding: 0px;
  }
  
  body {
    background-color: #0f1a20;
    text-align: center;
    font-family: 'Helvetica';
  }
  
  header {
    text-align: center;
    font-size: 3em;
  }
  
  main {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 5%;
    margin-right: 5%;
  }
  .home {
    max-width: 400px; 
    max-height: 250px;
    text-align: center;
  }

  #intro {
    display: flex;
    align-items: center;
    column-gap: 50px;
    justify-content: center;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
  }
  
  #portfolio {
    display: flex;
    align-items: center;
    column-gap: 50px;
    justify-content: center;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
  }
  
  #bio {
    color: #0f1a20;
    text-align: center;
    font-size: 1.5em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: 1em;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border-style: double;
    background-color: #C1C4C5;
  }

  #logo {
    max-width: 750px;
    max-height: 390px;
    align-items: center;
    text-align: center;
    column-gap: 5%;
    border-style: solid;
    border-color: #0f1a20;
  }

  /* STYLE IMAGES */
  
  .port {
    display: flex;
    align-items: center;
    margin-top: 2em;
    margin-bottom: 1em;
    margin-left: 2em;
    margin-right: 2em;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15%;
    padding-right: 15%;
    column-gap: 10%;
  }
  
  .docs {
    align-items: center;
    text-align: center;
    margin-top: 2em;
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: 1em;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15%;
    padding-right: 15%;
    column-gap: 10%;
  }
  
  .desc {
    color: #ffffff;
    text-align: center;
    font-size: 1.8em;
    margin-top: 2em;
    margin-bottom: 1em;
    margin-left: .8em;
    margin-right: .8em;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 3%;
    padding-right: 3%;
  }
  
  .project {
    max-width: 375px;
    max-height: 195px;
  }
  
  .cert {
    max-width: 750px;
    max-height: 390px;
    align-items: center;
    text-align: center;
    column-gap: 5%;
    border-style: solid;
    border-color: #ffffff;
  }
  /* STYLE TEXT */
  
  h1 {
    color:#ffffff;
    font-family:'Helvetica';
    text-align: center;
    font-size: 3em;
  }

  a:visited {
      color: pink;
  }

  #bio a:visited {
      color: white;
  }

  /* STYLE NAV BAR */

  ul {
    list-style-type: none;
    background-color: #392d3b;
    overflow: hidden;
    padding: 1em;
  }
  
  li {
    display: inline;
  }
  
  li a {
    text-decoration: none;
    color: pink;
    font-size: 1.7em;
    padding: 1em;
  }
  
  li a:hover {
    background-color: #0f1a20;
  }




  













